<footer>
    <div class="footer-text">
        <p>&copy; 2022 Signode Canada. All rights reserved.</p>
    </div>

    <div class="footer-logo">
        <img height="60px" src="../images/signode-logo.png" alt="">
    </div>
</footer>
