<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/styles-partials.css"/>

<body>
    <div id="footer">
        <span class="footer-text">&copy; 2022 Signode Canada. All rights reserved.</span>
        <img height="60px" class="footer-logo" src="../images/signode-logo.png" alt="">
</body>
</html>


