<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/styles-partials.css"/>

<body>
    <div id="footer">
        <span style="float:left;" class="footer-text">&copy; 2022 Signode Canada. All rights reserved.</span>
        <span style="float:right;" class="footer-logo"><img height="60px" src="../images/signode-logo.png" alt=""></span>
</body>
</html>




<!-- <body>
    <footer class="mt-auto">
        <div class="footer-text">
            <p>&copy; 2022 Signode Canada. All rights reserved.</p>
        </div>
    
        <div class="footer-logo">
            <img height="60px" src="../images/signode-logo.png" alt="">
        </div>
    </footer>
</body> -->

