<nav class="navbar navbar-expand-lg navbar-dark bg-dark" ">


  <a class="navbar-brand" href="javascript:history.back()"><strong
      style="padding:20px 20px 20px 20px">&#8249;</strong></a>
  <a class="navbar-brand" href="/"><strong>SIGNODE</strong></a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <button onClick="window.location.href='http://10.100.6.111:3000/edi'" type="button" class="btn btn-outline-light">EDI</button>
    </li>
</ul>


  <!-- BURGER -->

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  

  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
  </div> -->

</nav>

