<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <a class="navbar-brand" href="javascript:history.back()"><strong style="padding:20px 20px 20px 20px">&#8249;</strong></a>
    <a class="navbar-brand" href="/"><strong>SIGNODE</strong></a>
    



    <!-- BURGER -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <!-- <a class="nav-link" href="/">Home</a> -->
            </li>
          </ul>
    </div>

  </nav>