@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}

body {
    background: #f6f6f6;
}

/************************************ NAVIGATION BAR *************************************/

.container-fluid {
    padding-right: 5%;
    padding-left: 5%;
}

.navigation-bar {
    width: 100%;
    padding: 0%;
    background-color: #ffffff;
    overflow: auto;
    border-bottom: 2px solid #cccaca;
    overflow: hidden;
}

/* back button*/
.back-button{
    width: 4%;
}

/* Home button */
.home {
    width: 4%;
    color: #b43c25;
}

/* Navbar links */
.navigation-bar a {
    float: left;
    text-align: center;
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    color: #3f3d56;
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 450;
    border-bottom: 2px solid transparent;
}

/* Navbar links on mouse-over */
.navigation-bar a:hover {
    background-color: #ededed;
    color: #b43c25;
    border-bottom-style: solid;
    border-bottom-color: #b43c25;
}

/************************************ HEADERS *************************************/

h1{
    color: #3f3d56;
    font-size: 3.35vw;
}

h3{
    color: #3f3d56;
    font-size: 1.9vw;
}

/************************************ SEARCH BAR *************************************/

.wrapper{
    display: flex;
    flex-direction: column;
}

/* entire search bar: rounded white rectangle */
.search-box{
    width: 80vw;
    height: 4vw;
    background: #fff;
    border-radius: 100px;
    margin-top: 40px;
    padding: 0.75vw;
    box-shadow: 0 10px 10px -10px #b8b7b7;
    display: flex;
    align-items: center;
}

/* search icon */
.search-box .fas{
    position: relative;
    left: 1.5vw;
    font-size: 1.75vw;
    color: #B43C25;
}


/************************************ LEFT SIDE OF SEARCH BAR: DROPDOWN /*************************************/

/* dropdown region + vertical separator bar */
.search-box .dropdown{
    position: relative;
    width: 35%;
    height: 100%;
    margin-left: 4vw;
    color: #686868;
    cursor: pointer;
    border-right: 0.2vw solid #dde2f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* displayed text of selected option */
.search-box .dropdown .default-option{
    position: relative;
    font-size: 1.5vw;
    user-select: none;
}

/* dropdown icon */
.fa-solid{
    font-size: 2vw;
    color: #B43C25;
    justify-self: flex-end;
    margin-right: 1vw;
}

/* dropdown options: white rectangle */
.dropdown-options ul{
    background: #fff;
    width: 26.5vw;
    margin-left: 5vw;
    margin-top: 1vw;
    padding: 1.05vw;
    display: none;
    font-size: 1.3vw;
    border-radius: 17px;
    box-shadow: 0 10px 10px -10px #b8b7b7;
    color: #686868;
}

/* display all dropdown options when the default dropdown option is clicked */
.dropdown-options ul.active{
    display: block;
}

/* spacing between options */
.dropdown-options ul li{
    padding-bottom: 1vw;
}

/* padding for last option */
.dropdown-options ul li:last-child{
    padding-bottom: 0.2vw;
}

/* make text colour darker when hovering over an option */
.dropdown-options ul li:hover{
    color: #B43C25;
    cursor: pointer;
}

/************************************ RIGHT SIDE OF SEARCH BAR: SEARCH INPUT /*************************************/

.search-box .search-field{
    width: 50%;
    height: 100%;
    margin-right: 20px;
    color: #831414;
    display: flex;
    align-items: center;
}

.search-box .search-field .input{
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 1.5vw;
    padding-left: 30px;
    color: #686868;
}

::placeholder{
    color: #9F9D9D;
    font-size: 1.5vw;
}

/************************************ SEARCH BUTTON /*************************************/

.search-button-wrapper{
    display: flex;
    align-items: center;
}

.search-button {
    background-color: #B43C25;
    color: white;
    width: 10vw;
    height: 3vw;
    position: relative;
    border: 0;
    border-radius: 50px;
    font-size: 1.25vw;
    box-shadow: 2px 7px 7px -3px #b8b7b7;

}

.search-button:hover{
    background-color: #862f1e;
    transform: scale(0.97);
    cursor: pointer;
}

.search-button:active{
    background-color: #B43C25;
    cursor: pointer;
}


/************************************ TABLE /*************************************/

/* center text in table */
table{
    text-align: center;
}

/* rounded corners of table */
th:first-of-type {
    border-top-left-radius: 15px;
}
th:last-of-type {
    border-top-right-radius: 15px;
}
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 15px;
}
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 15px;
}

/* header */
thead{
    background-color: #b43c25;
    color: white;
    font-size: 22px;
}

/* rows */
tbody{
    background-color: white; 
    font-size: 22px;
}

tbody tr:hover{
    background-color: #f6f6f6;
}

/* make table headers not bolded */
th{
    font-weight: normal;
}


td{
    padding: 20px;
}

.sig-links{
    color: #b43c25;
}

.sig-links:hover{
    color: #862f1e;
}


.padding{
    vertical-align: middle;
}