@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}

body {
    background: #f6f6f6;
}

/************************************ FOOTER /*************************************/

#footer{
    background-color: #9F9D9D;
    height: 100px;
    bottom: 0;
}

.footer-text{
    color: white;
    font-size: 23px;
    display: inline-block;
    padding: 30px;
}

.footer-logo{
    padding: 20px;
} 
