@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}

body {
    background: #f6f6f6;
    
}

/************************************ FOOTER /*************************************/

.footer-text{
    color: #b43c25;
    font-size: 1.1vw;
}
