@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}

body {
    background: #f6f6f6;
}
/************************************ NAVIGATION BAR *************************************/

.container-fluid {
    padding-right: 5%;
    padding-left: 5%;
}

.navigation-bar {
    width: 100%;
    padding: 0%;
    background-color: #ffffff;
    overflow: auto;
    border-bottom: 2px solid #cccaca;
    float: left;
    overflow: hidden;

}

/* back button*/
.back-button{
    width: 4%;
}

/* Home button */
.home {
    width: 4%;
    color: #b43c25;
}

/* Navbar links */
.navigation-bar a {
    float: left;
    text-align: center;
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    color: #3f3d56;
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 450;
    border-bottom: 2px solid transparent;
}

/* Navbar links on mouse-over */
.navigation-bar a:hover {
    background-color: #ededed;
    color: #b43c25;
    border-bottom-style: solid;
    border-bottom-color: #b43c25;
}

/************************************ LOCATION AND ORDER NUMBER *************************************/

h2 {
    font-size: 2.8vw;
    font-weight: 450;
    display: inline;
    color: #b43c25;
    text-transform: capitalize;
}

/************************************ TABLE /*************************************/

/* center text in table */
table{
    text-align: center;
}

.table {
    table-layout: fixed;
    width: 100%;
}

/* rounded corners of table */
th:first-of-type {
    border-top-left-radius: 15px;
}
th:last-of-type {
    border-top-right-radius: 15px;
}
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 15px;
}
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 15px;
}

/* header */
thead{
    background-color: #b43c25;
    color: white;
    font-size: 20px;
}

/* rows */
tbody{
    background-color: white; 
    font-size: 20px;
}

/* make table headers not bolded */
th{
    font-weight: normal;
}


td{
    padding: 20px;
}

.sig-links{
    color: #b43c25;
}

.sig-links:hover{
    color: #862f1e;
}


/************************************ PDF /*************************************/

.sig-pdf {
    width: 100%; height: 900px;
}


/************************************ 404: CANNOT FIND PICKTICKET PDF *************************************/

h1 {
    font-size: 3vw;
    font-weight: 450;
    color: #3F3D56;
}

h3 {
    font-size: 1.6vw;
    font-weight: 450;
    color: #3F3D56;
}

.icon-404 {
    width: 40vw;
}

a {
    color: #b43c25;
}

a:hover{
    color: #862f1e;
}