@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

body{
    background: #F6F6F6;
}

.wrapper{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.home-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28vw;
}

/************************************ NAVIGATION BAR *************************************/

.navigation-bar {
    width: 100%;
    height: 3vw;
    background-color: #ffffff;
    overflow: auto;
    border-bottom: 2px solid #cccaca;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title{
    font-size: 1vw;

}

/* entire button: icon + text */
.edi-button{
    width: 6%;
    cursor: pointer;
}

/* file icon */
#edi-icon{
    font-size: 32px;
    cursor: pointer;
}

/* "EDI" text */
.edi-text{
    font-size: 1vw;
    padding: 5px;
    cursor: pointer;
}


/* Navbar links */
.navigation-bar a {
    float: left;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #3f3d56;
    text-decoration: none;
    font-size: 24px;
    border-bottom: 2px solid transparent;
}

/* Navbar links on mouse-over */
.navigation-bar a:hover {
    background-color: #ededed;
    color: #b43c25;
    border-bottom-style: solid;
    border-bottom-color: #b43c25;
}



/************************************ SEARCH BAR *************************************/

/* entire search bar: rounded white rectangle */
.search-box{
    margin: auto;
    width: 80vw;
    height: 4vw;
    background: #fff;
    border-radius: 100px;
    margin-top: 40px;
    padding: 0.75vw;
    box-shadow: 0 10px 10px -10px #b8b7b7;
    display: flex;
    align-items: center;
}

/* search icon */
.search-box .fas{
    position: relative;
    left: 1.5vw;
    font-size: 1.75vw;
    color: #B43C25;
}


/************************************ LEFT SIDE OF SEARCH BAR: DROPDOWN /*************************************/

/* dropdown region + vertical separator bar */
.search-box .dropdown{
    position: relative;
    width: 35%;
    height: 100%;
    margin-left: 4vw;
    color: #686868;
    cursor: pointer;
    border-right: 0.2vw solid #dde2f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* displayed text of selected option */
.search-box .dropdown .default-option{
    position: relative;
    font-size: 1.5vw;
    user-select: none;
}

/* dropdown icon */
#dropdown-icon {
    font-size: 2vw;
    color: #B43C25;
    justify-self: flex-end;
    margin-right: 1vw;
}

/* dropdown options: white rectangle */
.dropdown-options ul{
    background: #fff;
    width: 26.5vw;
    margin-left: 15vw;
    margin-top: 1vw;
    padding: 1.05vw;
    display: none;
    font-size: 1.3vw;
    border-radius: 17px;
    box-shadow: 0 10px 10px -10px #b8b7b7;
    color: #686868;
}

/* display all dropdown options when the default dropdown option is clicked */
.dropdown-options ul.active{
    display: block;
}

/* spacing between options */
.dropdown-options ul li{
    padding-bottom: 1vw;
}

/* padding for last option */
.dropdown-options ul li:last-child{
    padding-bottom: 0.2vw;
}

/* make text colour darker when hovering over an option */
.dropdown-options ul li:hover{
    color: #B43C25;
    cursor: pointer;
}

/************************************ RIGHT SIDE OF SEARCH BAR: SEARCH INPUT /*************************************/

.search-box .search-field{
    width: 50%;
    height: 100%;
    margin-right: 20px;
    color: #831414;
    display: flex;
    align-items: center;
}

.search-box .search-field .input{
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 1.5vw;
    padding-left: 30px;
    color: #686868;
}

::placeholder{
    color: #9F9D9D;
    font-size: 1.5vw;
}

/************************************ SEARCH BUTTON /*************************************/

.search-button-wrapper{
    display: flex;
    align-items: center;
}

.search-button {
    background-color: #B43C25;
    color: white;
    width: 10vw;
    height: 3vw;
    position: relative;
    border: 0;
    border-radius: 50px;
    font-size: 1.25vw;
    box-shadow: 2px 7px 7px -3px #b8b7b7;

}

.search-button:hover{
    background-color: #862f1e;
    transform: scale(0.97);
    cursor: pointer;
}

.search-button:active{
    background-color: #B43C25;
    cursor: pointer;
}


/************************************ LOCATIONS BUTTONS /*************************************/

/* center all location buttons */
.location-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* markham button */
.markham-button{
    width: 15vw;
    height: 12vw;
    border: none;
    border-radius: 25px;
    box-shadow: 0 10px 10px -5px #b8b7b7;
    background: url(../images/markham-button.png);
    background-size: cover;
    margin: 2vw;
}

.markham-button:hover{
    transform: scale(0.98);
    box-shadow: 0 10px 10px 0px #b8b7b7;
    cursor: pointer;
}

.markham-button:active{
    filter: brightness(95%);
    cursor: pointer;
}


/* surrey button */
.surrey-button{
    width: 15vw;
    height: 12vw;
    border: none;
    border-radius: 25px;
    box-shadow: 0 10px 10px -5px #b8b7b7;
    background: url(../images/surrey-button.png);
    background-size: cover;
    margin: 2vw;
}

.surrey-button:hover{
    transform: scale(0.98);
    box-shadow: 0 10px 10px 0px #b8b7b7;
    cursor: pointer;
}

.surrey-button:active{
    filter: brightness(95%);
    cursor: pointer;
}

/* glenview button */
.glenview-button{
    width: 15vw;
    height: 12vw;
    border: none;
    border-radius: 25px;
    box-shadow: 0 10px 10px -5px #b8b7b7;
    background: url(../images/glenview-button.png);
    background-size: cover;
    margin: 2vw;
}

.glenview-button:hover{
    transform: scale(0.98);
    box-shadow: 0 10px 10px 0px #b8b7b7;
    cursor: pointer;
}

.glenview-button:active{
    filter: brightness(95%);
    cursor: pointer;
}
