@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}

body {
    background: #f6f6f6;
}

/************************************ NAVIGATION BAR *************************************/

.container-fluid {
    padding-right: 5%;
    padding-left: 5%;
}

.navbar {
    width: 100%;
    padding: 0%;
    background-color: #ffffff;
    overflow: auto;
    border-bottom: 2px solid #cccaca;
}

/* navbar contents */
.navbar a {
    float: left;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #3f3d56;
    text-decoration: none;
    font-size: 24px;
    border-bottom: 2px solid transparent;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #ededed;
    color: #b43c25;
    border-bottom-style: solid;
    border-bottom-color: #b43c25;
}

.back-button{
    width: 4%;  
}

/* home button */
.home {
    float: left;
    width: 4%;
    color: #b43c25;
    padding: 0;
}

/************************************ LOCATION AND ORDER NUMBER *************************************/

h2 {
    font-size: 38px;
    font-weight: 450;
    display: inline;
    color: #b43c25;
    text-transform: capitalize;
}

/************************************ TABLE /*************************************/

/* center text in table */
table{
    text-align: center;
}

/* rounded corners of table */
th:first-of-type {
    border-top-left-radius: 15px;
}
th:last-of-type {
    border-top-right-radius: 15px;
}
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 15px;
}
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 15px;
}

/* header */
thead{
    background-color: #b43c25;
    color: white;
    font-size: 20px;
}

/* rows */
tbody{
    background-color: white; 
    font-size: 20px;
}

/* make table headers not bolded */
th{
    font-weight: normal;
}


td{
    padding: 20px;
}

.sig-links{
    color: #b43c25;
}

.sig-links:hover{
    color: #862f1e;
}


.padding{
    vertical-align: middle;
}


/************************************ PDF /*************************************/

.sig-pdf {
    width: 100%; height: 900px;
}

/************************************ FOOTER /*************************************/

footer{
    background-color: #9F9D9D;
    height: 100px;
}

.footer-text{
    position: relative;
    color: white;
    font-size: 23px;
    margin: auto;
    padding: 35px;
    display: inline-block;
    text-align: center;
}

.footer-logo{
    position: relative;
    float: right;
    top: 20%;
    right: 2%;
    overflow: auto;
}

