<%- include("./partials/head.ejs") %>

<br>
<br>
<br>
<br>
<br>
<br>


<h2 style="color:rgb(136,0,0)">Wrong Address !!</h2>

<br>


<p>CLick <span style="color:rgb(136,0,0); font-weight:500";">SIGNODE</span> to go to main page</p>



<%- include("./partials/footnocontainer.ejs") %>