<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h3 style="text-align: center;" class="display-4">Successfully Created</h3>
          <h3 style="text-align: center;" class="display-4"><%= title %></h3>
          <p class="lead" style="text-align: center;">This PO will no longer be visible on this website upon refreshing</p>

          <hr class="my-4">
          <div style="text-align: center;" class="alert alert-success" role="alert">
            Click on the PO link above to collapse this tab
          </div>
          <br>

          <img
            class="sig-logo"
            src="/images/check.png"
            alt="SIGNODE LOGO GOES HERE"
            height="50%"
            width="50%"
            />
        </div>
      </div>
</body>
</html>