<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signode Picktickets
    </title>

    <!-- IMPORTS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles-home-page.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> 
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
        $(document).ready(function(){ // makes the function available after the document is loaded
            
            // DROPDOWN EVENT HANDLING

            // when the default dropdown button is clicked, display all dropdown options 
            $(".default-option, .dropdown-icon").click(function(event){
                $(".dropdown ul").addClass("active");
                event.stopPropagation();
            });

            // when any of the dropdown options are clicked, set the text to be that option and hide dropdown
            $(".dropdown ul li").click(function(event){
                var text = $(this).text();
                $(".default-option").text(text);
                $(".dropdown ul").removeClass("active");
                event.stopPropagation();
            });

            $(document).on("click", function (event) {
                $(".dropdown ul").removeClass("active");
            });
        
        });
    </script> 

</head>

<body class="d-flex flex-column min-vh-100">

    <!-- ******************************* SEARCH BAR ************************************** -->
    <div class="wrapper">
        <h1 class="home-page-heading">Search Orders</h1>
        <div class="search-box">
            
            <!-- search icon -->
            <i class="fas fa-search"></i>

            <!-- dropdown -->
            <div class="dropdown">
                <div class="default-option">Search by...</div>
                    <ul>
                        <li>Active orders</li>
                        <li>Archived orders</li>
                    </ul>

                <div class="dropdown-icon"></div>
            </div>

            <!-- search field -->
            <div class="search-field">
                <input type="text" class="input" id="myInput" onkeyup="searchTable(event)" placeholder="Search through all locations">
            </div>

            <!-- search button -->
            <button type="button" class="search-button" onclick="searchTable(event)">Search</button>

        </div>

    </div>
  
    <br><br><br><br>
    
    <!-- ******************************* LOCATIONS BUTTONS ************************************** -->
    <div class="location-buttons">
       
        
        <!-- location buttons -->
        <div class="buttons">
            <button class="markham-button" onclick="window.location.href='/markham/allOrders'"></button>
            <button class="surrey-button" onclick="window.location.href='/surrey/allOrders'"></button>
            <button class="glenview-button" onclick="window.location.href='/glenview/allOrders'"></button>
        </div>
    </div>
    
    <!-- changes url to match search input -->
    <script>
        function searchTable(e) {
            let input = document.getElementById("myInput");
            let target = input.value;
            let filter = $(".default-option").text();
            let code = e.keyCode ? e.keyCode : e.which;
    
            if (input.value.length > 0 && (code == 13 || e.button == 0)) {
                window.location.replace("/"+target+"="+filter);
            }
        }
    </script>



    <!-- ******************************* FOOTER ************************************** -->

    <%- include("./partials/footer.ejs") %>
    

</body>
</html>


