<%- include("./partials/head.ejs") %>

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<br />
<br />

<script>
  // code only runs once the page DOM is ready for js to execute
  $(document).ready(function () {
	// When the dropdown menu is clicked
	$(".default_option").click(function (event) {
	  // Adds the class name "active" to he .dropdown ul class
	  $(".dropdown ul").addClass("active");
	  event.stopPropagation();
	});

	// If you click on one of the dropdown options
	$(".dropdown ul li").click(function (event) {
	  var text = $(this).text(); //save text from option selected into a text var
	  $(".default_option").text(text); //change the button's text to be the text that was just clicked
	  $(".dropdown ul").removeClass("active"); // dropdown is no longer active aka options are shown
	  event.stopPropagation();
	});

	// If you click outside of the dropdown while dropdown is active close dropdown
	$(document).on("click", function (event) {
	  $(".dropdown ul").removeClass("active");
	});
  });
</script>

<!-- Searchbar -->
<div class="wrapper">
  <div class="search_box">
	<div class="dropdown">
	  <div class="default_option">All</div>
	  <ul>
		<li>All</li>
		<li>Order#</li>
		<li>PO#</li>
		<li>Shipping Address</li>
		<li>Shipping Carrier</li>
		<li>Date</li>
		<li>Status</li>
	  </ul>
	</div>
	<div class="search_field">
	  <input
		type="text"
		class="input"
		id="myInput"
		onkeyup="searchTable(event)"
		placeholder="Search"
	  />
	  <i class="fas fa-search" onclick="searchTable(event)"></i>
	</div>
  </div>
</div>

<!-- /////////////////////////////////////// END OF TABLES ///////////////////////////////////////// -->

<img
  class="sig-logo"
  src="/images/SignodeLogo_RGB_FOR PPT AND SCREEN USE.png"
  alt="SIGNODE LOGO GOES HERE"
  height="50%"
  width="50%"
/>

<!-- ALL ORDERS LINK IS DEPRECATED -->

<div class="">
  <button class="button font-inherit">
	<a class="sig-links-main" href="/markham/allOrders">Markham</a>
  </button>
</div>

<br />

<div class="">
  <button class="button font-inherit">
	<a class="sig-links-main" href="/surrey/allOrders">Surrey</a>
  </button>
</div>

<br />

<div class="">
  <button class="button font-inherit">
	<a class="sig-links-main" href="/glenview/allOrders">Glenview</a>
  </button>
</div>

<script>
	function searchTable(e) {
      
    	let input = document.getElementById("myInput");
    	let target = input.value;
		let filter = $(".default_option").text();

    	let code = e.keyCode ? e.keyCode : e.which;
  
    	if (input.value.length > 0 && (code == 13 || e.button == 0)) {
			window.location.replace("/"+target+"="+filter);
		}
	}
  </script>

<%- include("./partials/foot.ejs") %>
