<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signode Picktickets
    </title>

    <!-- IMPORTS -->
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> 
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    


    <script>
        $(document).ready(function(){ // makes the function available after the document is loaded
            
            // DROPDOWN EVENT HANDLIGN

            // when the default dropdown button is clicked, display all dropdown options 
            $(".default-option, .dropdown-icon").click(function(event){
                $(".dropdown ul").addClass("active");
                event.stopPropagation();
            });

            // when any of the dropdown options are clicked, set the text to be that option and hide dropdown
            $(".dropdown ul li").click(function(event){
                var text = $(this).text();
                $(".default-option").text(text);
                $(".dropdown ul").removeClass("active");
                event.stopPropagation();
            });

            $(document).on("click", function (event) {
                $(".dropdown ul").removeClass("active");
            });
        
        });
    </script> 

</head>

<body>

    <!-- ******************************* SEARCH BAR ************************************** -->
    <div class="wrapper">
        <h1 class="home-page-heading">Search Picktickets</h1>
        <div class="search-box">
            
            <!-- search icon -->
            <i class="fas fa-search"></i>

            <!-- dropdown -->
            <div class="dropdown">
                <div class="default-option">Search by...</div>
                    <ul>
                        <li>All</li>
                        <li>Order Number</li>
                        <li>PO Number</li>
                        <li>Shipping Address</li>
                        <li>Shipping Carrier</li>
                        <li>Date</li>
                        <li>Status</li>
                    </ul>

                <div class="dropdown-icon"></div>
            </div>

            <!-- search field -->
            <div class="search-field">
                <input type="text" class="input" id="myInput" onkeyup="searchTable(event)" placeholder="What are you looking for?">
            </div>

            <!-- search button -->
            <button type="button" class="search-button" onclick="searchTable(event)">Search</button>

        </div>

        <!-- person graphic -->
        <img src="../images/home-page-graphic.svg" class="home-page-graphic" alt="">

    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    
    
    <!-- ******************************* LOCATIONS BUTTONS ************************************** -->
    <div class="location-buttons">
        <h4 class="centred-header-4">Search</h4>
        <h2 class="centred-header-2">Locations</h2>
        <br><br><br><br>
        
        <!-- location buttons -->
        <div class="buttons">
            <button class="markham-button" onclick="window.location.href='/markham/allOrders'"></button>
            <button class="surrey-button" onclick="window.location.href='/surrey/allOrders'"></button>
            <button class="glenview-button" onclick="window.location.href='/glenview/allOrders'"></button>
        </div>
    </div>
    
    <!-- changes url to match search input -->
    <script>
        function searchTable(e) {
            let input = document.getElementById("myInput");
            let target = input.value;
            let filter = $(".default-option").text();
            let code = e.keyCode ? e.keyCode : e.which;
    
            if (input.value.length > 0 && (code == 13 || e.button == 0)) {
                window.location.replace("/"+target+"="+filter);
            }
        }
    </script>

    <br><br><br><br><br><br><br><br><br><br><br><br>


    <!-- ******************************* FOOTER ************************************** -->

    <footer>
        <div class="footer-text">
            <p>&copy; 2022 Signode Canada. All rights reserved.</p>
        </div>

        <div class="footer-logo">
            <img src="../images/signode-logo.png" alt="">
        </div>
    </footer>

</body>
</html>


