<input
  type="text"
  id="myInput"
  onkeyup="searchTable()"
  placeholder="Search for Orders, PO , Ship To, Via, Status, Date .."
/>

<table id="tableSearch">
  <thead>
    <th>Order No.</th>
  </thead>
  <tbody></tbody>
</table>

<script>
  const input = document.getElementById("myInput");
  let temp = []

  const row = (item, table) => {
    const newRow = table.insertRow();
    const newCell = newRow.insertCell();
    const newText = document.createTextNode(item);
    newCell.appendChild(newText);
  };

  const generateTable = (table, list) => {
    if (list) {
      document.getElementsByTagName("thead").value = "";
      list.map((item) => row(item._id, table));
    }
  };

  const tableEle = document.getElementById("tableSearch");

  const searchTable = () => {
    console.log("pressed");
    let partialUrl = input.value;
    fetch(`http://localhost:4000/api/search/markham/${partialUrl}`)
      .then((res) => res.json())
      .then((data) => {temp = [...data.data]});
    console.log(temp)
  };

</script>
